/* Tag Styles */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  color: black;
  background-color: white;
}

a {
  color: seashell;
}
/* Class Styles */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
}

.topnav span {
  padding: 10px;
}
.logo {
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

.tea-image {
  height: 200px;
  width: 300px;
}
/* ID Styles */
