/* Tag Styles */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  color: black;
  background-color: white;
}

a {
  color: seashell;
}

/* Class Styles */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
}

.topnav span {
  padding: 10px;
}
.logo {
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

.flex-container {
  padding-top: 69px;
}

.mission {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.mission-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: white;
}

.featured-tea {
  width: 1000px;
  margin: 0 auto;
}

.tea-image {
  height: 200px;
  width: 300px;
}
/* ID Styles */
