/* Tag Styles */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

a {
  color: seashell;
}

div {
  display: block;
}

/* Class Styles */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.topnav span {
  padding: 10px;
}

.logo {
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

.flex-container {
  padding-top: 69px;
  opacity: 0.9;
}

.mission {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.mission-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: white;
}

.featured-tea {
  text-align: center;
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-image {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.tea {
  padding: 5px;
  text-align: center;
}

.locations {
  width: 1200px;
  height: 500px;
  margin: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.stores {
  display: flex;
  justify-content: center;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  margin: 20px;
}
/* ID Styles */
